---
layout: default
title: About Fundraisr
permalink: /about
excerpt: Fundraisr.me empowers creators to connect with their fans and generate revenue without requiring anyone to pay. We set you up with a ready-to-go webpage that mines for cryptocurrency on your behalf. The more fans that keep your webpage open while they surf the web, the more your make.
mainimage: /Images/homepage-hero.jpg
lastmod: 2018-01-08

---

<section class="pb-3 pt-3">
	<div class="container">
		<div class="row">
    		<div class="col-md-6">
    			<h1>
    				About Fundraisr
    			</h1>
    			<p>
    				Fundraisr.me empowers creators to connect with their fans and generate revenue without requiring anyone to pay. We set you up with a ready-to-go webpage that mines for cryptocurrency on your behalf. The more fans that keep your webpage open while they surf the web, the more your make.
    			</p>
    			{% include sm_icons_color.html %}
    		</div>
    		<div class="col-md-6">
				<h2>
					Contact Us
				</h2>
				<p class="pb-3">
  					To reach us, please use the form below.
  				</p>
  				<div>
  					{% include contact_form.html %}
  				</div>
  			</div>	
    	</div>
    </div>
</section>