<form action="https://formspree.io/info@fundraisr.me" method="POST">
  	<div class="form-group">
 		<input type="text" class="form-control" placeholder="Name" name="Full Name" maxlength="50" required>
  	</div>
  	<div class="form-group">
    	<input type="email" class="form-control" maxlength="50" name="Email Address" placeholder="Email address *" required>
  	</div>
  	<div class="form-group">
    	<select class="form-control" required name="_subject">
    		<option value="" disable selected>Reason for reaching out</option>
      		<option value="General Question">General Question</option>
      		<option value="Media Inquiry">Media Inquiry</option>
      		<option value="Other">Other</option>
    	</select>
    </div>
  	<div class="form-group">
  		<textarea class="form-control" rows="3" placeholder="Your Message (300 character limit)" maxlength="300" required name="Message"></textarea>
  	</div>
  	<div class="form-group">
  		<button type="submit" class="btn btn-primary btn-success btn-md" value="Send">Send Message</button>
  	</div>
  	<input type="text" name="_gotcha" style="display:none" />
</form>