<meta property="og:title" content="{{ page.title }} on Fundraisr.me" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ page.excerpt }}" />
<meta property="og:image" content="{{ site.url }}{{ page.mainimage | prepend: site.baseurl }}" />
<meta property="og:url" content="{{ site.url }}{{ page.permalink }}" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Fundraisr.me" />
<meta property="fb:app_id" content="167413667347593" />