<meta property="og:title" content="{{ page.title }} | Fundraisr.me" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ page.excerpt }}" />
<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ page.mainimage }}" />
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.permalink }}" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Fundraisr.me" />
<meta property="fb:app_id" content="167413667347593" />