<section id="howtosupport" style="border-top: #dbdbdb 1px solid;" class="pt-2">
	<div class="container">
		<h2>
  			How to Support
  		</h2>
  		<p>
  			This Fundraisr page was create to mine for Monero, a cryptocurrency, on behalf of {{ page.firstname }}. The more people that keep this page open in their browser, the closer {{ page.firstname }} comes to meeting the goal of ${{ page.goal }}.
  		</p>
  		<p>
  			To support {{ page.firstname }}, please make sure you read the following steps.
  		<p>
  			<ol>
  				<li><b>Visit this Page on a Laptop or Desktop Computer</b><br>Mining is easier to do on non-mobile devices. So dust that laptop off!
  				<li><b>Check Your Ad Blocker</b><br>If your ad blocker is running, please pause it or whitelabel the domain 'Fundraisr.me'. If your ad blocker does negatively impact our technology, making it hard for {{ page.firstname }} meet his goal.</li>
  				<li><b>Keep This Page Open</b><br>You dont't have to be atively staring at this page, just keep it open in the background while you surf the web.</li>
  				<li><b>Keep Your Computer Awake</b><br>Our mining technology does not work when you computer is sleeping.</li>
  				<li><b>Share this Campaign</b><br>Using the buttons below, share this campaign on Facebook, Twitter, or Reddit to help {{ page.firstname }} spread the word!</li>
  			</ol>
  		</p>
  	</div>
</section>